<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓회원가입</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<style>
        .container {
            max-width: 560px;
        }

        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }

</style>
<body>

<content>
    <div class="container">
        <div class="py-5 text-center">
            <h4>⚓회원 가입</h4>
        </div>

        <div class="container">

            <form id="saveForm" role="form" action="/members/new" th:object="${memberForm}" method="post">
                <div>
                    <label th:for="name">이름</label>
                    <input class="form-control" type="text" th:field="*{name}" placeholder="이름을 입력하세요.">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
                </div>
                <div>
                    <label th:for="pw">비밀번호</label>
                    <input class="form-control" type="password" th:field="*{pw}" placeholder="비밀번호는 그냥 1234로 하시는 게...">
                    <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="fieldError">Incorrect data</p>
                </div>
                <div>
                    <label th:for="nickName">닉네임</label>
                    <input class="form-control" type="text" th:field="*{nickName}" placeholder="닉네임을 입력하세요.">
                    <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="fieldError">Incorrect
                        data</p>
                </div>
                <div>
                    <label th:for="sex">성별</label>
                    <select class="form-control" name="sex" th:field="*{sex}">
                        <option value="">선택</option>
                        <option value="M">남자</option>
                        <option value="F">여자</option>
                    </select>
                </div>

                <hr class="my-4">

                <button type="submit" class="w-100 btn btn-primary btn-lg">Submit</button>
            </form>

<!--            <p class="btn_set">-->
<!--                <button type="button" id="saveBtn" onclick="savePost();" class="w-100 btn btn-primary btn-lg">Submit</button>-->
<!--                <a th:href="@{/post/list.do}" class="btns btn_bdr3 btn_mid">뒤로</a>-->
<!--            </p>-->
            <br/>
        </div>
    </div>


<!--    <script th:inline="javascript">-->
<!--        /*<![CDATA[*/-->
<!--        function savePost() {-->
<!--                console.log(11111);-->


<!--                const form = document.getElementById('saveForm');-->
<!--                console.log(form);-->

<!--                alert( `회원가입 되었습니다. 로그인 해주세요` );-->

<!--                form.action = '/members/new';-->
<!--                form.submit();-->
<!--            }-->


<!--        /*]]>*/-->
<!--    </script>-->
</content>

</body>
</html>