<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓회원가입</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<content>
    <div class="inner">
        <h3 style="margin:5px">회원가입</h3>
        <form role="form" action="/members/new" th:object="${memberForm}" method="post">
            <div>
                <label th:for="name">이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
            </div>
            <div>
                <label th:for="pw">비밀번호</label>
                <input type="password" th:field="*{pw}" placeholder="비밀번호를 입력하세요">
                <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="fieldError">Incorrect data</p>
            </div>
            <div>
                <label th:for="nickName">닉네임&nbsp;&nbsp;&nbsp;</label>
                <input type="text" th:field="*{nickName}" placeholder="닉네임을 입력하세요">
                <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="fieldError">Incorrect data</p>
            </div>
            <div>
                <label th:for="sex">성별&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select name="sex" th:field="*{sex}">
                    <option value="">선택</option>
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                </select>
            </div>
            <button style="margin:15px" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
    </div>
</content>

</body>
</html>