<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓로그인</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}" />
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">-->

    <style>
        .container {
            max-width: 560px;
        }
    </style>

</head>
<body>

<content>

    <div class="py-5 text-center">
        <h4>⚓로그인 해주세요</h4>
    </div>

    <div class="inner">

        <div class="field-error" th:if="${not #strings.isEmpty(loginFail)}" th:text="${loginFail}"><h3 > 실패 메시지 </h3></div>

        <form action="/members/login" th:object="${memberLoginForm}" method="post">
            <div>
                <label th:for="nickName">닉네임</label>
                <input class="form-control" type="text" th:field="*{nickName}" placeholder="닉네임을 입력하세요">
                <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="fieldError">Incorrect data</p>
            </div>

            <div>
                <label th:for="pw">비밀번호</label>
                <input class="form-control" type="password" th:field="*{pw}" placeholder="비밀번호를 입력하세요">
                <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="fieldError">Incorrect data</p>
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>

        <br/>

    </div>
</content>

</body>
</html>