<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓리뷰 작성</title>
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<style>
        .container {
            max-width: 560px;
        }

        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
</style>

<body>

<content>
    <main>
        <!--    <div class="inner">-->
        <!--        <h3>게시판 관리</h3>-->
        <!--        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span></p>-->
        <!--    </div>-->
        <!--    <br><br><br>-->

        <div class="container">

            <div class="py-3 text-center">
                <h4>⚓리뷰 작성</h4>
            </div>

            <div class="container">
                <form id="saveForm" role="form" method="post" autocomplete="off">
                    <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                    <input type="hidden" id="boardId" name="boardId" th:if="${post != null}"
                           th:value="${post.boardId}"/>
                    <input type="hidden" id="memberId" name="memberId" th:value="${memberId}"/>
                    <!--/* 서버로 전달할 공지글 여부 */-->
                    <input type="hidden" id="noticeYn" name="noticeYn"/>

                    <table>
                        <colgroup>
                            <!--                                                    <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />-->
                            <col style="width:10%;"/>
                            <col style="width:55%;"/>

                        </colgroup>
                        <tbody>


                        <tr>
                            <th><label th:for="title">제목</label> <span class="es"></span></th>
                            <td colspan="3"><input class="form-control" type="text" id="title" name="title"
                                                   maxlength="50" placeholder="제목을 입력해 주세요."/></td>
                        </tr>

                        <tr>
                            <th><label th:for="memberNickName">작성자</label> <span class="es"></span></th>
                            <td colspan="3"><input class="form-control" type="text" id="memberNickName" name="memberNickName"
                                                   th:value="${memberNickName}"
                                                   maxlength="10" placeholder="닉네임을 입력해 주세요." readonly/></td>
                        </tr>

                        <tr>
                            <th><label th:for="shopId">식당</label> <span class="es"></span></th>
                            <td colspan="3">
                                <!--                            <input type="text" id="shopId" name="shopId" maxlength="10" placeholder="이름을 입력해 주세요." />-->
                                <!--                            <select id="shopId" name="shopId" th:field="*{shopId}">-->
                                <select class="form-control" id="shopId" name="shopId">
                                    <option value="">식당 🍽️ 선택</option>
                                    <option th:each="shop : ${allShops}" th:value="${shop?.shopId}"
                                            th:utext="${shop?.name}">식당
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <!--                            <th scope="row">공지글</th>-->
                            <!--                            <td><span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"> 설정</label></span></td>-->

                            <th scope="row"><label th:for="createdDate">등록일</label></th>
                            <td colspan="3"><input class="form-control" type="text" id="createdDate" name="createdAt"
                                                   readonly/></td>
                        </tr>

                        <tr>
                            <th><label th:for="content">내용</label> <span class="es"></span></th>
                            <td colspan="3"><textarea class="form-control" id="content" name="content" cols="50"
                                                      rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <hr class="my-4">
                <div style="">
                    <button id="saveBtn" type="button" class="btn btn-info" th:onclick="savePost();">
                        저장
                    </button>
                    <button type="button" class="btn btn-info" th:onclick="|location.href='@{/review/list}'|">
                        목록
                    </button>
                </div>

            </div>
        </div> <!--/* .content */-->


    </main>


    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

            window.onload = () => {
            renderPostInfo();
            }


             // 게시글 상세정보 렌더링
        function renderPostInfo() {
        const post = [[ ${post} ]];
        console.log(post)

        if ( !post ) {
            initCreatedDate();
            return false;
        }

        const form = document.getElementById('saveForm');
        console.log(form)

        const fields = ['boardId', 'title', 'content', 'memberId', 'shopId'];
        form.createdDate.value = dayjs(post.createdAt).format('YYYY-MM-DD HH:mm');

        fields.forEach(field => {
            form[field].value = post[field];
        })
    }


            // 등록일 초기화
            function initCreatedDate() {
                document.getElementById('createdDate').value = dayjs().format('YYYY-MM-DD');
            }


            // 게시글 저장(수정)
            function savePost() {
                const form = document.getElementById('saveForm');
                console.log(form);
                const fields = [form.title, form.memberId, form.content, form.shopId];
                const fieldNames = ['제목', '아이디', '내용', '식당'];

                for (let i = 0, len = fields.length; i < len; i++) {
                    isValid(fields[i], fieldNames[i]);
                }

                document.getElementById('saveBtn').disabled = true;
                // form.noticeYn.value = form.isNotice.checked;
                form.noticeYn.value = false;
                form.action = [[ ${post == null} ]] ? '/review/new' : '/review/update';
                form.submit();
            }

        /*]]>*/
    </script>
</content>
</body>
</html>