<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓리뷰</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<content>

    <div class="py-3 text-center">
        <h4>⚓리뷰</h4>
    </div>

    <div class="container">
        <div class="content">
            <div class="inner row">
                <p>
                    <th:block th:if="${loginMember}">
                        <a class="nav-contact" href="/review/new">🍴리뷰 쓰기</a>
                    </th:block>
                </p>

            </div>

            <section>
                <div class="inner">
<!--                    검색-->
                    <div class="search_box">
                        <form id="searchForm" onsubmit="return false;" autocomplete="off">
                            <div class="sch_group fl">
                                <select id="searchType" name="searchType" title="검색 유형 선택">
                                    <option value="">전체 검색</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="memberNickName">작성자</option>
                                    <option value="shop">식당</option>
                                </select>
                                <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요."
                                       title="키워드 입력"/>
                                <button type="button" class="bt_search" onclick="movePage(1);"><i
                                        class="fas fa-search"></i><span class="skip_info">검색</span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/* 리스트 */-->
                <div class="table inner">
                    <table class="tb tb_col table">
                        <colgroup>
                            <!--                            <col style="width:60px;"/>-->
                            <col style="width:auto%;"/>
                            <col style="width:10%;"/>
                            <col style="width:20%;"/>
                            <col style="width:15%;"/>
                            <col style="width:70px;"/>
                        </colgroup>
                        <thead>
                        <tr class="table-primary">
                            <!--                <th scope="col"><input type="checkbox"/></th>-->
                            <!--                            <th scope="col">#</th>-->
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">식당</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${not #lists.isEmpty( response )}" th:each="row, status : ${response.list}">
                            <td class="tl"><a th:href="@{|/review/${row.boardId}|}" th:text="${row.title}"></a></td>
                            <td th:text="${row.nickName}"></td>
                            <td th:text="${row.shopName}"></td>
                            <td th:text="${#temporals.format( row.createdAt, 'yyyy-MM-dd' )}"></td>
                            <td th:text="${row.viewCnt}"></td>
                        </tr>

                        <tr th:unless="${not #lists.isEmpty( response )}">
                            <td colspan="5">
                                <div class="no_data_msg">검색된 결과가 없습니다.</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paging">

                </div>

            </section>
        </div> <!--/* .content */-->
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

            window.onload = () => {

                setQueryStringParams();
                findAllPost();
            }

            // 쿼리 스트링 파라미터 셋팅
            function setQueryStringParams() {

                 if ( !location.search ) {
                    return false;
                    }

                 const form = document.getElementById('searchForm');

                 new URLSearchParams(location.search).forEach((value, key) => {
                 if (form[key]) {
                    form[key].value = value;
                     }
                  })
             }

            // 게시글 리스트 조회
            function findAllPost() {

                // 1. PagingResponse의 멤버인 List<T> 타입의 list를 의미
                const list = [[ ${response.list} ]];

                // 2. 리스트가 비어있는 경우, 행에 "검색 결과가 없다"는 메시지를 출력하고, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직을 종료
                if ( !list.length ) {
                    document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
                    drawPage();
                }

                // 3. PagingResponse의 멤버인 pagination을 의미
                const pagination = [[ ${response.pagination} ]];
                console.log(pagination);


                // 4. @ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params를 의미
                const searchDto = [[ ${searchDto} ]];
                console.log("======");
                console.log(searchDto);
                console.log("======");

                // 5. 페이지 번호 렌더링
                drawPage(pagination, searchDto);
            }


            // 리스트 HTML draw


            // 페이지 HTML draw
            function drawPage(pagination, searchDto) {

                // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직 종료
                if ( !pagination || !searchDto ) {
                    document.querySelector('.paging').innerHTML = '';
                    throw new Error('Missing required parameters...');
                }

                // 2. 렌더링 할 HTML을 저장할 변수
                let html = '';

                // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML에 추가
                if (pagination.existPrevPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                /*
                 * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
                 *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우, 페이지 번호(i)를 활성화(on) 처리
                 */
                html += '<p>';
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += (i !== searchDto.page)
                        ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                        : `<span class="on">${i}</span>`
                }
                html += '</p>';

                // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
                if (pagination.existNextPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
                }

                // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
                document.querySelector('.paging').innerHTML = html;
            }

            // 페이지 이동
            function movePage(page) {

                const form = document.getElementById('searchForm');

                // 1. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10,
                    searchType: form.searchType.value,
                    keyword: form.keyword.value
                }

                /*
                 * 2. location.pathname : 리스트 페이지의 URI("/review/list")를 의미
                 *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
                 *    URI + 쿼리 스트링에 해당하는 주소로 이동
                 *
                 */
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }
        /*]]>*/

    </script>
</content>

</body>
</html>