<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},~{::link},~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>⚓"부산, 여기는"</title>
<!--    <link rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<main>
    <section id="category">
        <div class="inner">
            <div class="category-container">
                <h2 class="category-title">🍴맛집 카테고리🍴를 선택해보세요📌</h2>
                <div class="category-list">
                    <button class="category-item" id="korea">한식</button>
                    <button class="category-item" id="china">중식</button>
                    <button class="category-item" id="japan">일식</button>
                    <button class="category-item" id="america">양식</button>
                    <button class="category-item" id="meat">구이</button>
                    <button class="category-item" id="rawfish">회</button>
                    <button class="category-item" id="cafe">카페</button>
                    <button class="category-item" id="etc">기타</button>
                </div>
            </div>
        </div>
    </section>

    <div id="map" class="inner"></div>

    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=874fec64c0727d53128070a045d201f6&libraries=services"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
            integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="/js/axios-script.js"></script>

</main>

</body>
</html>