<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--&lt;!&ndash;<th:block th:if="${loginMember == null}">&ndash;&gt;-->
<!--&lt;!&ndash;    <th:nav th:if="${loginMember == null}">&ndash;&gt;-->
<!--    <th:block th:if="${loginMember == null}">-->
<!--        <div class="inner">-->
<!--            <div class="nav-container">-->
<!--                <div><h1 class="nav-title">부산, 여기는</h1></div>-->
<!--                <div>-->
<!--                    <button class="nav-contact" onclick="location.href='/members/login'">Login</button>-->
<!--                    <button class="nav-contact" type="button" onclick="location.href='/members/new'">Join</button>-->
<!--                    <button class="nav-contact" type="button" onclick="location.href=''">Review</button>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </th:block>-->
<!--&lt;!&ndash;</th:block>&ndash;&gt;-->

<!--&lt;!&ndash;<th:block th:unless="${loginMember != null}">&ndash;&gt;-->
<!--&lt;!&ndash;    <th:nav th:unless="${loginMember != null}">&ndash;&gt;-->
<!--    <th:block th:if="${loginMember != null}">-->
<!--        <div class="inner">-->
<!--            <div class="nav-container">-->
<!--                <h1 class="nav-title">부산, 여기는</h1>-->
<!--                    &lt;!&ndash;                <button type="button" onclick="location.href='/members/login'">Login</button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <button type="button" onclick="location.href='/members/new'">Join</button>&ndash;&gt;-->
<!--                    <button type="button" onclick="location.href='/members/logout'">Logout</button>-->
<!--                    <button>Review</button>-->
<!--                    <button>Review 쓰기 </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </th:block>-->
<!--&lt;!&ndash;</th:block>&ndash;&gt;-->






<main>
    <section id="category">
        <div class="inner">
            <div class="category-container">
                <h2 class="category-title">🍴맛집 카테고리🍴를 선택해보세요📌</h2>
                <div class="category-list">
                    <button class="category-item" id="korea">한식</button
                    ><button class="category-item" id="china">중식</button
                ><button class="category-item" id="japan">일식</button
                ><button class="category-item" id="america">양식</button
                ><button class="category-item" id="meat">구이</button
                ><button class="category-item" id="rawfish">회</button
                ><button class="category-item" id="cafe">카페</button
                ><button class="category-item" id="etc">기타</button>
                </div>
            </div>
        </div>
    </section>
    <!-- 카테고리 style="width:500px;height:400px;"-->
    <div id="map" class="inner"></div>

    <!-- 카카오지도 -->
</main>

<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=874fec64c0727d53128070a045d201f6&libraries=services"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<!--<script src="basic-script.js"></script>-->
<script src="axios-script.js"></script>


<div class="inner">
    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>