<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.busanHere2.mapper.MemberMapper">

    <!-- 회원 등록-->
    <insert id="save" parameterType="com.project.busanHere2.domain.member.MemberForm">
        INSERT INTO members (name, nick_name, sex, passwd)
        values(
        #{name},
        #{nickName},
        #{sex},
        #{pw}
        )
    </insert>

<!--    회원 전체 조회-->
    <select id="findAllMembers" resultType="com.project.busanHere2.domain.member.MemberDTO">
        SELECT *
            FROM
                members
            ORDER BY
                member_id
    </select>

    <select id="findByNickName" resultType="com.project.busanHere2.domain.member.MemberDTO">
        SELECT *
            FROM
                MEMBERS
            WHERE
                nick_name = #{nickName}
    </select>

    <select id="printAllNickNames" resultType="String">
        SELECT nick_name
        FROM
        MEMBERS
    </select>

</mapper>