@font-face {
    font-family: "KyoboHandwriting2020A";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 20px;
    font-family: "KyoboHandwriting2020A";
  }
  
  nav {
    /* background-color: #e69a06; */
  }
  
  .nav-container {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-title {
    font-size: 1.5rem;
  }
  
  .nav-contact {
    font-size: 1rem;   /*2.5*/
    border: 0;    /* 0 */
    padding: 0.5rem;
    background: none;
    cursor: pointer;
    /* font-family: inherit; */
  }
  
  .category-title {
    font-size: 1.2rem;
    font-family: "TAEBAEKmilkyway";
    padding: 0.5rem;
  }
  
  .category-item {
    width: 23.0%;   /*25.0%;*/
    height: 2.5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 0.8rem;
  }
  
  .category-item:hover {
    color: #e69a06;
    cursor: pointer;
  }
  
  .inner {
    padding: 0 0.75rem;
  }
  
  @media all and (min-width: 1024px) {
    .inner {
      max-width: 1024px;
      margin: 0 auto;
    }
  }
  
  /* 카카오맵 CSS */
  
  body {
    height: 100vh;
  }
  
  nav {
    height: 59px;  /*59*/
  }
  
  main {
    padding-top: 1.5rem; /*1.5rem*/
    height: calc(90% - 30px);   /*height: calc(100% - 59px);*/
    display: flex;
    flex-direction: column;
  }
  
  #map {
    flex-grow: 1;
    width: 65%;  /*100*/
    height: 10%;
  }

    /* ============================== */
   a:link { color: black; text-decoration: none;}
   a:visited { color: black; text-decoration: none;}
   a:hover { color: black; text-decoration: none;}

   table, td, th{
     border-collapse : collapse;
     text-align: center;
   }

   .fieldError {
     color: #bd2130;
    }

    /* paging ------------------------------- */
    .paging * {box-sizing:border-box;}
    .paging {text-align:center; margin:2% 0 0;}
    .paging > p {display:inline-block; margin:0 4px;}
    .paging > p > a, .paging > p > span {margin-left:-1px;}
    .paging > p > a:first-child, .paging > p > span:first-child {margin-left:0;}
    .paging a, .paging span {display:inline-block; width:30px; height:30px; line-height:240%; color:#999; font-size:15px;}
    .paging a:hover {background:#f7f7f7;}
    .paging a.on, .paging span.on {background:#666; border-color:transparent; border-radius:4px; color:#fff;}
    .paging .page_bt {text-indent:-9999px; position:relative;}
    .paging .page_bt::after {background-position:-30px 0; width:6px; height:11px; position:absolute; top:50%; left:50%; margin:-5px 0 0 -3px;}
    .paging .first::after {background-position:-15px 0; width:12px; margin-left:-6px;}
    .paging .next::after {background-position:-40px 0;}
    .paging .last::after {background-position:-49px 0; width:12px; margin-left:-6px;}
    .paging .prev, .paging .last {margin-left:-1px;}

/* search ------------------------------- */
h4 + .search_box {margin-top:10px;}
.search_box:first-child {margin-top:0;}
.search_box {background:#f7f8fa; border:1px solid #cfcfcf; box-shadow:0 2px 0px rgba(80,80,80,0.05); padding:10px 20px; margin:25px 0; overflow:hidden;}
.search_box input[type="text"], .search_box select, .search_box button {height:40px;}
.search_box input[type="text"], .search_box select {width:auto; padding:4px 5px; border:1px solid #ddd;}
.search_box input[type="text"] {width:300px;}
.sch_group button {background:#586a7d; border:0; padding:0; color:#fff; font-weight:bold; width:42px; line-height:40px; border-radius:3px; vertical-align:top; position:relative;}
.search_box input#sDate {margin-right:3px !important;}